# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Env files
.env
.env.*

# Next.js
.next/
out/
build/

# Production
dist/

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Coverage
coverage/

# Misc
*.local
*.cache
/.pnp
/.pnp.js
